*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #835d5d;
   
}

/* Main-content **************************/

.main-content{
    width: 70%;
    min-height: 20rem;
    margin: 5rem auto;
    background-color: white;
    padding: 3rem 4rem;
}

.header-title{
    color: #ded116;
    text-align: center;
    font-weight: bold;
    font-size: 3.7rem;
}

.mt-30{
    margin-top: 3rem;
}

.block-quiz h2{
    font-size: 2.3rem;
    margin-bottom: .6rem;
    color: #16de6d;
}

hr{
    width: 10%;
    height: .5rem;
    background-color: #16de6d;
    border: none;
    border-radius: 1rem;
    margin-bottom: 2.5rem;
}

.block-quiz p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.block-quiz ul{
    margin-left: 3rem;
    margin-top: 1rem;
}

.block-quiz ul li{
    font-size: 1.6rem;
    margin-left: 1rem;
    line-height: 2.32rem;
}

footer p{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}